doctype html
head
  // Start meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Bisahosting layanan web server termurah dan teraman')
  // End meta tags
  // Start Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='scss/tentang.css')
  script(src='https://kit.fontawesome.com/72eca601e0.js' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  title Bisahosting | Jasa Hosting Termurah
  // End Bootstrap CSS
// Start Navbar
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.fixed-top
  .container
    a.navbar-brand(href='index.html') Bisahosting
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='index.html')
            | Beranda
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='tentang.html') Tentang
        li.nav-item
          a.nav-link(href='halaman.html') Halaman
        li.nav-item
          a.nav-link(href='kontak.html') Kontak
// End Navbar
// Start breadcrumb
.container.space
  nav(aria-label='breadcrumb space')
    ol.breadcrumb
      li.breadcrumb-item
        a(href='index.html') Beranda
      li.breadcrumb-item.active(aria-current='page') Tentang
// End breadcrumb
// Start Overview
section#cta.cta
  .container
    .text-center
      h3 Profil Perusahaan
      h2 Bisahosting
// End Overview
// Start Information
.container.py-5
  .section-title
    h3
      | Tentang 
      span Bisahosting
  .row
    .col-lg-6.pt-4.pt-lg-0
      .image-right
    .col-lg-6.text-content
      p
        | Bisahoting adalah sebuah perusahaan web yang didirikan oleh kami, sekelompok mahasiswa web desain, sebagai tugas akhir kami. Kami mendapatkan inspirasi untuk membuat Bisahosting setelah dosen kami memberikan proyek web yang menggunakan Pug dan scss. Kami ingin menunjukkan kemampuan kami dalam membuat web yang profesional dan berkualitas.
      p
        | Untuk membuat web ini, kami menggunakan bootstrap sebagai framework css dan javascript. Kami juga belajar banyak tentang cara menggunakan bootstrap untuk membuat web yang responsif dan menarik.
      p
        | Berikut adalah beberapa kelebihan layanan Bisahosting:
      ul.list-icon
        li
          i.far.fa-check-circle
          | Kecepatan dan keamanan yang tinggi, dengan server yang cepat, jaminan uptime 99 persen, dan perlindungan dari malware dan hacker.
        li
          i.far.fa-check-circle
          | Stabil dan fleksibel dalam menyajikan data, dengan kapasitas penyimpanan yang cukup besar dan kemampuan untuk menyesuaikan sumber daya sesuai dengan kebutuhan
        li
          i.far.fa-check-circle
          | Biaya perawatan yang murah, dengan harga yang terjangkau dan sesuai dengan budget Anda, tanpa harus mengeluarkan modal besar.
// End Information
// Start Team
section#kemampuan
  .team
    h1
      | Tim 
      span Bisahosting
  .judul
    h2
      | Tim 
      span Programmer
    .isinya
      .content
        img(src='image/about/qil.png')
        h3 Aqil Yoga Pramono
        h4 3123522011
        p
          | Membuat tampilan dan fungsi halaman utama website, sekaligus menjadi pelopor penggunaan bootstrap.
      .content
        img(src='image/about/maw.jpeg')
        h3 Agiel Maula
        h4 3123522016
        p
          | Membuat halaman yang menjelaskan tentang perusahaan Bisahosting dan tim yang bertanggung jawab.
      .content
        img(src='image/about/lex.jpeg')
        h3 R.P. A. Lexy M. S.
        h4 3123522012
        p
          | Membuat halaman yang memungkinkan pengunjung website untuk menghubungi perusahaan.
      .content
        img(src='image/about/dar.jpg')
        h3 A. Haidar Hafiz
        h4 3123522015
        p
          | Membuat halaman-halaman informasi yang berkaitan dengan layanan dan produk Bisahosting.
  .judul2
    h2
      | Tim 
      span Desainer
    .isinya
      .content2
        img(src='image/about/daf.jpeg')
        h3 Dafa Ahmad Fahrisi
        h4 3123522007
        p
          | Membuat desain website Bisahosting yang sesuai dengan ukuran layar desktop, menggunakan figma.
      .content2
        img(src='image/about/tan.jpeg')
        h3 Eka Intan Mauliyana
        h4 3123522004
        p
          | Membuat desain website Bisahosting yang sesuai dengan ukuran layar mobile, menggunakan figma.
      .content2
        img(src='image/about/bal.jpeg')
        h3 Moh Iqbal Triwijaya
        h4 3123522017
        p
          | Membantu pembuat desain figma untuk desktop dalam menyelesaikan dan memperbaiki desain.
      .content2
        img(src='image/about/puh.jpg')
        h3 Almas Daffa A.
        h4 3123522003
        p
          | Membantu pembuat desain figma untuk mobile dalam menyelesaikan dan memperbaiki desain.
// Start Team
// Footer Start
footer#footer
  .footer-top
    .container
      .row
        .col-lg-6.col-md-6.footer-contact
          h3 Bisahosting
          p
            | Bisahosting layanan server web termurah dan terbaik
          p
            strong Phone:
            |  +62-888-7777-666
            br
            strong Email:
            |  Bisahosting@bisahosting.com
            br
        .col-lg-2.col-md-6.footer-links
          h4 Tautan
          ul
            li
              a(href='index.html') Beranda
            li
              a(href='tentang.html') Tentang
            li
              a(href='halaman.html') Halaman
            li
              a(href='kontak.html') Kontak
        .col-lg-4.col-md-6.footer-newsletter
          h4 Disponsori oleh
          div(style='margin-top: 5%; text-align: center;')
            img(src='image/home/s1.png' style='width: 20%; margin: 2%; margin-left: 0% ; ')
            img(src='image/home/s2.png' style='width: 20%; margin: 2%;')
            img(src='image/home/s3.png' style='width: 20%; margin: 2%;')
            br
            img(src='image/home/s4.png' style='width: 20%; margin: 2%; margin-left: 0% ; ')
            img(src='image/home/s5.png' style='width: 20%; margin: 2%;')
            img(src='image/home/s6.png' style='width: 20%; margin: 2%;')
  .container.d-md-flex.py-4
    .mr-md-auto.text-center.text-md-left
      .copyright
        | Copyright &copy; 
        strong
          span Bisahosting
        | .
    .social-links.text-center.text-md-right.pt-3.pt-md-0
      a(href='#')
        i.fab.fa-instagram
      a.instagram(href='#' target='_blank')
        i.fab.fa-whatsapp
      a.facebook(href='#')
        i.fab.fa-facebook
// Footer End
// End Home
// Start JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
// End JS
